body { background-color:#f0f0f0; }
.all-box { margin:0 auto; width:800px; border:1px solid gray; background-color:white; }
.title { color:#001e43; font-weight:bold; font-size:200%; text-align:center; margin:15px 0px 10px 0px; }
.chapter { font-weight:bold; margin:10px 2px 2px 10px; }
.contents { font-size:90%; margin:0px 2px 0px 12px; }
.square { color:#89c997; }
.home { text-align:center; margin:5px 0px; }
.to a { color:#172d73; text-decoration:none; }
.to a:hover { text-decoration:underline; }
.banner { margin:5px; }
a img { border-style:none; }
