.all-box { margin:0 auto; width:800px; }
.title { color:#001e43; font-weight:bold; font-size:200%; text-align:center; margin:15px 0px 10px 0px; }
.area-link { width:100%; margin-left:auto; margin-right:auto; font-size:90%; }
.area-link td { width:148px; }
.area-link a { color:#172d73; text-decoration:none; }
.area-link a:hover { text-decoration:underline; }
.area-link th { width:60px; vertical-align:top; font-weight:normal; text-align:left; }
.area-title { font-weight:bold; margin:20px 0px 1px 0px;  }
.square { color:#89c997; }
.home { text-align:center; margin:20px 0px; }
a img { border-style:none; }
.record {width:100%; border-collapse:separate; border-spacing:0px; border-top:1px solid #6c9bd2; border-left:1px solid #6c9bd2; empty-cells:show; font-size:90%; }
.record th { padding:4px 2px 2px 4px; text-align:left;vertical-align:top;color:#FFFFFF; background-color:#6c9bd2; border-top:1px solid #e8ece9;border-left:1px solid #e8ece9; border-right:1px solid #26499d;border-bottom:1px solid #26499d; }
.record td { padding:4px 2px 2px 4px; background-color:#ffffff; border-right:1px solid #6c9bd2; border-bottom:1px solid #6c9bd2; }
.date { width:160px; }
.location { width:230px; }
.member { width:80px; }
.access { width:230px; }
