@charset "utf-8";
body { font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Arial, sans-serif; }
.tdftad li a:link, .tdftad li a:hover, .tdftad li a:visited { color:gray; }
