.all-box { margin:0 auto; width:800px; }
.title { color:#001e43; font-weight:bold; font-size:200%; text-align:center; margin:15px 0px 10px 0px; }
.year-link { text-align:center; font-size:90%; }
.year-link a { color:#172d73; text-decoration:none; }
.year-link a:hover { text-decoration:underline; }
.year-title { font-weight:bold; margin:20px 0px 1px 0px;  }
.square { color:#89c997; }
.home { text-align:center; margin:20px 0px; }
a img { border-style:none; }
.record {width:100%; border-collapse:separate; border-spacing:0px; border-top:1px solid #6c9bd2; border-left:1px solid #6c9bd2; empty-cells:show; font-size:90%; }
.record th { padding:4px 2px 2px 4px; text-align:left; vertical-align:top; color:#FFFFFF; background-color:#6c9bd2; border-top:1px solid #e8ece9; border-left:1px solid #e8ece9; border-right:1px solid #26499d; border-bottom:1px solid #26499d; }
.record td { padding:4px 2px 2px 4px; background-color:#ffffff; border-right:1px solid #6c9bd2; border-bottom:1px solid #6c9bd2; }
.date { width:100px; }
.dougatitle { width:450px; }
.time { width:50px; }
.location { width:200px; }
.new-mark { color:red; font-size:80%; font-weight:bold; margin-left:10px; }
