body { margin:0; }
.clear { clear:both; }
.all-box { margin:0 auto; width:960px; }
.contents-box { margin:10px 0px; }
.menu-box { float:left; width:244px; }
.ad-box { margin-top:10px; }
.new-box { float:right; width:716px; }
.menu-border { margin-right:10px; border:1px solid #043c78; background:#eff2fb; }
.new-border { margin-left:10px; border:1px solid #043c78; background:#eff2fb; }
.header-box img { vertical-align:bottom; }
.menu-title { color:#ffffff; padding:3px; background:#043c78; font-weight:bold; font-size:90%; }
.menu-link { padding:7px 2px 1px 7px; font-size:90%; }
.menu-link a { color:#172d73; text-decoration:none; }
.menu-link a:hover { text-decoration:underline; }
.new-title { color:#ffffff; padding:10px; background:#043c78; font-weight:bold; font-size:130%; text-align:center; }
.new-record-box { margin:10px; border:1px solid #eff2fb; }
.new-record-picture { float:left; width:200px; height:150px; }
.new-record-name { margin:10px 2px 10px 220px; }
.new-record-data { margin-top:5px; }
.new-record-table { font-size:90% }
.new-record-table td { vertical-align:top; text-align:left; font-weight:normal; }
.new-record-table th { vertical-align:top; text-align:left; font-weight:normal; width:70px; }
.menu-description{ padding:10px 0px 0px 7px; font-size:80%; }
.update{ color:#ff0000; font-size:80%; }
a img { border-style:none; }
.course th { border:0px; vertical-align:top; text-align:left; font-weight:normal; width:50px; padding:1px; }
.course td { border:0px; padding:1px; }
