.all-box { margin:0 auto; width:800px; }
.title { color:#001e43; font-weight:bold; font-size:200%; text-align:center; margin:15px 0px 10px 0px; }
.year-link { text-align:center; font-size:90%; }
.year-link a { color:#172d73; text-decoration:none; }
.year-link a:hover { text-decoration:underline; }
.year-title { font-weight:bold; margin:20px 0px 1px 0px;  }
.square { color:#89c997; }
.home { text-align:center; margin:20px 0px; }
a img { border-style:none; }
.list { margin:0px; padding:0px 0px 0px 12px; }
.record { width:100%; border-collapse:separate; border-spacing:0px; border-top:1px solid #6c9bd2; border-left:1px solid #6c9bd2; empty-cells:show; font-size:90%; line-height:1.2; }
.record th { padding:2px 2px 2px 8px; text-align:left; vertical-align:top; color:#FFFFFF; background-color:#6c9bd2; border-top:1px solid #e8ece9; border-left:1px solid #e8ece9; border-right:1px solid #26499d; border-bottom:1px solid #26499d; width:120px; }
.record td { padding:2px 2px 2px 8px; background-color:#ffffff; border-right:1px solid #6c9bd2; border-bottom:1px solid #6c9bd2; }
