.all-box { margin:0 auto; width:800px; text-align:center; }
.message { font-size:small; margin-bottom:20px; }
.title { font-size:xx-large; font-weight:bold; margin:15px 0px;}
.height { font-size:medium; }
.link {font-size:x-large; font-wight:bold; margin:15px 0px; }
.bar { height:2px; border:none; }
